@font-face {
    font-family: "Ubuntu";
    src: url('../assets/font/Ubuntu/Ubuntu-Regular.ttf') format ('tff');
    font-display: swap;
}

:root {
    --color-one: #0f1627;
    --color-two: #0064b7;
    --color-three: #ffe164;

    --color-text-light: #f9f9f7;
    --color-text-dark: #0d111c;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #0d111c;
    background-color: var(--color-one);
    color: white;
    color: var(--color-text-light);
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}

:focus {
    background-color: #ffe164;
    background-color: var(--color-three);
    color: #0d111c;
    color: var(--color-text-dark);
}

a   {
    color: white;
    color: var(--color-text-light);
    transition: all 0.4s;
}
a:hover {
    background-color: #ffe164;
    background-color: var(--color-three);
    color: #0d111c;
    color: var(--color-text-dark);
}

/***********************************
Index page
***********************************/


/*navigation*/

.index nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #0d111c;
    background-color: rgba(15, 22, 39, 0.92);
    padding: 0 1.4rem;
    width: 100%;
}

.index nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.index nav ul li {
    display: flex;
}

.index nav ul li a {
    padding: 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.logo svg circle {
    transform: translate(-50px);
    transition: transform 0.2s ease-out;
}


.index nav ul .logo a { 
    display: flex;
}

.index nav ul .logo a:hover {
    background-color: transparent;
}

.index nav ul .logo a:hover svg circle,
.index nav ul .logo a:focus svg circle{
    transform: translateX(0);
}


.index nav ul .logo svg {
    height: 2rem;
}


/*header*/
.index header {
    padding: 1rem 1.4rem;
    padding-top: 5rem;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    perspective: 400px;
    overflow: hidden;
}
@media screen and (min-width: 42em){
    .index header {
        display: grid;
        grid-template-areas: "hello empty"
                             "empty-two welcome-text";
        grid-template-columns: 50vw;
        grid-template-rows: auto 1fr;

        padding: 2rem;
    }

    .index header .welcome-text-container {
        grid-area: welcome-text;
    }
}

.index header h1,
.index header p,
.index header a {
    opacity: 0;
    animation: fade-in 0.7s forwards;
    animation-delay: 0.6s;
}

.index header h1 {
    font-size: 27vw;
}
@media screen and (min-width: 42em){
    .index header h1 {
        font-size: 18vw;
        grid-area: hello;
    }
}

.index header p {
    margin-top: 1rem;
    font-size: 2rem;
}

@media screen and (min-width: 60em) {
    .index header p {
        font-size: 3vw;
    }
}

.index header .name {
    color: yellow;
    color: var(--color-three);
}

.index header .explore-link {
    font-size: 2rem;
    padding: 1rem;
    border: solid 0.2rem var(--color-three); 
    display: inline-flex;
    text-decoration: none;
    color: yellow;
    color: var(--color-three);
    margin-top: 2rem;
    transition: background-color 0.2s ease-out;
}

.index header .explore-link:hover, 
.index header .explore-link:focus {
    background-color: var(--color-three);
    color: var(--color-one);
}

.index .decoration {
    z-index: -1;
    width: 70vw;
    height: 70vh;
    background-color: var(--color-two);
    position: absolute;
    justify-self: center;
    align-self: center;
    animation: decoration-slide-in 0.7s ease-out;
}
@media screen and (min-width: 42em){
    .index .decoration {
        width: 60vh;
        height: 75vh;
    }
}

/*Projects*/

.projects-container {
    padding: 1.4rem;
}

.projects-container + h1 {
    font-size: 2rem;
    width: 5rem;
}

.project-container {
    min-height: 22rem;;
    margin-top: 7rem;
    display: flex;
    align-items: center;
}

.project-container .project-styling-container {
    position: relative;
    width: 100%;
}

.project-styling-container .descriptor {
    position: absolute;
    top: -2.5rem;
    filter: drop-shadow(2px 2px 4px black);
}

.project-container .descriptor .project-title {
    font-size: 3.4rem;
}

.project-container .descriptor .project-description {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.project-container .assets-container {
    height: 22rem;
    display: flex;
    justify-content: center;
}

.project-container .assets-container * {
    width: 95%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.294);
}

.project-container .my-role-container {
    display: none;
}

.project-container .project-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.project-container .project-links li {
    display: flex;
}

.project-container .project-links a {
    margin: 0 0.4rem;
    padding: 1rem;
    border: solid .2rem var(--color-three);
    color: var(--color-three);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.project-container .project-links a:hover,
.project-container .project-links a:focus {
    color: var(--color-text-dark);
    background-color: var(--color-three);
}

/*
footer
*/

.index footer {
    padding: 1.7rem;
}

.index footer p {
    padding: 1.7rem;
    border: solid 0.2rem rgba(5, 50, 160, 0.36);
    border-radius: 0.2rem;
    font-size: 1.2rem;
}

.index footer p a {
    color: var(--color-three);
    text-decoration: none;
}

.index footer p a:hover,
.index footer p a:focus{
    background-color: var(--color-three);
    color: var(--color-text-dark);
}


/*************************
Animation
**************************/

@keyframes decoration-slide-in {
    0% {
       transform: scale(0) rotateX(-100deg);
    }

    100% {
        transform: scale(1) rotateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}