<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Chana</title>
    <meta name="description" content="Hi, My name is Chanakarn and I like to build Front-end application. This site will showcase some of my latest work.">
    <meta name="keywords" content="Portfolio, Front-end, Front end, Developer, Chanakarn, Chana, Niyornram, Web">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

</body>

</html>