<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Chana</title>
    <meta name="description" content="Hi, My name is Chanakarn and I like to build Front-end application. This site will showcase some of my latest work.">
    <meta name="keywords" content="Portfolio, Front-end, Front end, Developer, Chanakarn, Chana, Niyornram, Web">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body class="about-page">
    <nav class="navigation">
        <ul>
            <li class="logo"><a href="/">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #0064b7;
                                }

                                .cls-2 {
                                    fill: #ffe164;
                                }
                            </style>
                        </defs>
                        <title>Home</title>
                        <rect class="cls-1" width="100" height="100" />
                        <circle class="cls-2" cx="100" cy="50" r="50" />
                    </svg>
                </a></li>
            <li><a href="#">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <main>
        <article class="about-container">
            <section class="name">
                <h1>
                    <span>Chanakarn</span>
                    <span>Niyornram</span>
                </h1>
            </section>
            <section id="about" class="about">
                <h2>About</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque commodi autem ex quod nobis
                    explicabo rerum incidunt maxime, totam facilis sunt nemo labore! Debitis porro ipsa hic provident
                    expedita quos dolores itaque est quidem autem quia cupiditate, et laboriosam, dignissimos illum?
                    Molestias numquam laboriosam, ea necessitatibus ut provident quam nisi quae voluptatibus libero
                    eum.
                </p>
            </section>
            <section class="about-extra">
                <section class="mission">
                    <h3>Mission</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aliquam obcaecati magnam ea
                        voluptatum magni ipsa ipsum totam! At, quas!</p>
                </section>
                <section class="vision">
                    <h3>Vision</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta aliquam obcaecati magnam ea
                        voluptatum magni ipsa ipsum totam! At, quas!</p>
                </section>
                <section class="value">
                    <h3>Value</h3>
                    <ul>
                        <li>Value1</li>
                        <li>Value2</li>
                        <li>Value3</li>
                        <li>Value4</li>
                    </ul>
                </section>

            </section>

            <section id="contact" class="contact">
                <div class="styling">
                    <h3>Contact</h3>
                    <address>
                        <p>Email: <a href="mailto:oc.niyornram@gmail.com">oc.niyornram@gmail.com</a></p>
                        <p>Tel: <a href="tel:+31637279457">+3163727945</a>
                        </p>
                    </address>

                    <ul>
                        <li>
                            <a href="">
                                <span>Github</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span>Linkedin</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </article>

        <div class="decoration"></div>
    </main>
</body>

</html>