<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Chana</title>
    <meta name="description" content="Hi, My name is Chanakarn and I like to build Front-end application. This site will showcase some of my latest work.">
    <meta name="keywords" content="Portfolio, Front-end, Front end, Developer, Chanakarn, Chana, Niyornram, Web">
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body class="about">
    <nav class="navigation">
        <ul>
            <li class="logo"><a href="#">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #0064b7;
                                }

                                .cls-2 {
                                    fill: #ffe164;
                                }
                            </style>
                        </defs>
                        <title>Home</title>
                        <rect class="cls-1" width="100" height="100" />
                        <circle class="cls-2" cx="100" cy="50" r="50" />
                    </svg>
                </a></li>
            <li><a href="views/about.html">About</a></li>
            <li><a href="views/about.html#contact">Contact</a></li>
        </ul>
    </nav>
</body>

</html>